<%-include("./partials/head")%>

<body>

<article>
  <div class="containerHeroes">
<%heroes.forEach(heroe=>{ %>
<a href="/heroes/<%=heroe.id%>">
    <div class="cardHeroes cardHeroes<%=heroe.id%>">
        <div class="border">
          <h2 class="tituloHeroes">
           <%=heroe.nombre%>  
             </h2>
        </div>
    </div>
</a>
    <%})%>
  </div>
</article>

    <%-include("./partials/footer")%>
</body>
</html>