
<%-include("./partials/head")%>

  <body>
    <h1><%= title %></h1>  <!--   variables -->


 <!--    javascript -->

<!--     <% if (4<5) { %>
    <h2>4 es menor a 5 </h2>
     <%}%> 

     <% let nombre = "pepe" %>
     
     <h2><%=nombre%> </h2> -->

<!--      <% for (let i=0;i<5;i++) {%>

      <p>probando la etiqueta: <></p>

      <% }%> -->

<!--       <% if (nombre) { %>
        <h2>Hola <%= nombre %> </h2>
        <% } %> -->

    <p>Welcome to <%= title %></p>
    <%-include("./partials/footer")%>   <!-- vistas -->
  </body>
</html>


